@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Raleway:wght@400;800&display=swap");

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  background: white;
  color: black;
}

.no-scroll {
  overflow: hidden;
}

#nav-bar {
    position: fixed;
    top: 0;
  background: white;
  height: 75px;
  width: 100%;
  display: flex;
justify-content: space-between;
  align-items: center;
  z-index: 560;
}

.logo {
  padding: 0 50px;
  filter: brightness(1);
}

#header-img {
  width: 138px;
  height: 140px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  margin-right: 5px;
  background: white;
  list-style: none;
  transition: 0.1s;
}

.nav-links li a {
  padding: 7px 13px;
  text-decoration: none;
  display: block;
  color: black;
}

.nav-links li:hover {
  border-bottom: 2px solid red;
}

.nav-links li a:hover {
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: -100vw;
    transition: all .3s ease;
    flex-direction: column;
    align-items: center;
padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
    z-index: 200;
    opacity: 0;
  }

  .nav-links.open {
    opacity: 1;
    right: 0;
  }

  .nav-links.open li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hamburger {
    display: flex;
    margin-right: 15px;
  }

  .nav-links li{
    width: 98%;
    text-align: center;
  }
}


.wrapper-all-page {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hero-section {
margin-top: 75px;
  width: 100%;
  padding: 90px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: oswald;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/032/037/444/original/emily-brown-ezgif-com-gif-maker-3.gif?1605288050);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.logo-hero {
  width: 100%;
  height: 110px;
  margin-top: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#fender-logo-hero {
  width: auto;
  height: 100px;
  position: relative;
  transform: rotate(-10deg);
  filter: invert(1);
}

.hero-section h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 70px 0;
  z-index: 200;
  cursor: pointer;
}

.hero-section h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.hero-section p {
  font-size: 1.2rem;
  z-index: 100;
  padding: 0;
  position: relative;
  right: 13px;
}

.start-now {
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative;
  right: 13px;
  text-shadow: 0 0 5px white;
}

.how-it {
  margin-right: 3rem;
  text-transform: uppercase;
  font-size: 35px;
}

.separator {
  position: relative;
  height: 200px;
  width: 100%;
  margin: -5px 0 0 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-container {
  display: inline-block;
  position: relative;
  width: 30%;
}

.video-container iframe {
  height: 100% !important;
  width: 100% !important;
}

.title-section{
  font-size: 45px;
}
.subtitle{
  font-size: 16px;
}
.play-the-songs {
  margin: 5rem 0;
}

.play-the-songs-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 45px;
}

.separator-2 {
  height: 1.5rem;
  width: 100%;
}

.separator-3 {
  height: 3rem;
  width: 100%;
  padding: 25px 0px;
}

.red-line {
  margin-top: 20px;
  height: 4px;
  width: 60px;
  background: rgb(178, 1, 1);
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
}
.box img {
  max-width: 100%;
  max-height: 100%;
}

.box {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
flex-shrink: 0;
}

.song {
  width: 100%;
  height: 100%;
  filter: saturate(10%);
  transition: 0.5s;
  object-fit: cover;
}

.song:hover {
  filter: saturate(100%);
  transform: scale(1.1);
}

.stylized-button {
  font-family: Oswald;
  letter-spacing: 0.5px;
  padding: 16px 50px;
  background: rgb(199, 16, 31);
  border-style: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.stylized-button:hover {
  background: #ac0b18;
}

@media (max-width:768px) {
  .stylized-button {
    padding: 12px 28px;
    font-size: .95rem;
  }
}


.horizontal-bar {
  color: black;
}

.skills {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-image: linear-gradient(
      to right,
      rgba(255, 231, 14, 0.6),
      rgba(217, 9, 40, 1)
    ),
    url(https://cdn.mos.cms.futurecdn.net/UbDN3Hkwbj5FNgtwQSf5zi.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 60px;
}

.skills-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  padding-right: 20px;
}

.header-skills {
  text-align: justify;
  font-size: 35px;
  margin: 0px;
}

.skills-info {
  text-align: justify;
}

.sticky-skills {
}

.skills-right {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center;
}

.card-1 { grid-area: 1 / 1 / 2 / 2; }
.card-2 { grid-area: 1 / 2 / 2 / 3; }
.card-3 { grid-area: 1 / 3 / 2 / 4; }
.card-4 { grid-area: 2 / 1 / 3 / 2; }
.card-5 { grid-area: 2 / 2 / 3 / 3; }
.card-6 { grid-area: 2 / 3 / 3 / 4; }

.cards {
  width: 100%;
  height: fit-content;
  min-height: 380px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0.1px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  cursor: pointer;
  padding-bottom: 5px;
}
.cards:hover {
  position: relative;
  transform: translateY(-3%);
  box-shadow: 3px 5px 10px 0.1px rgba(0, 0, 0, 0.8);
}
.card-img-cont {
  position: relative;
  width: 100%;
  height: 128px;
}

.photo-header-cards {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  height: 100%;
}

.card-title {
  font-size: 23px;
}

.tres-mil-plus {
  font-size: 26px;
}

.separator-inf-cards {
  height: 18px;
}

.card-inf {
  font-size: 15px;
  line-height: 25px;
}


.learn-more-about-lssn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 100px 0;
  background: rgb(230, 230, 230);
  overflow: hidden;
}

.more-lessn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}



.photo-mre-lssn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 365px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
  cursor: pointer;
  filter: saturate(30%);
}
.photo-mre-lssn:hover {
  position: relative;
  transform: translateY(-3%);
  box-shadow: 2px 10px 18px rgba(0, 0, 0, 0.5);
  filter: saturate(100%);
}



#learn-more p{
}

.lessons {
  font-weight: 800;
  font-size: 3rem;
  color: white;
  font-family: "Raleway", sans-serif;
  transition: all .3s ease;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: #00000026;
  border-radius: 10px;
}


.guitar-bckg {
  background-image: url(https://i.inews.co.uk/content/uploads/2020/07/PRI_158040849-1200x675.jpg);
}
.bass-bckg {
  background-image: url(https://hub.yamaha.com/wp-content/uploads/2022/05/Feature3_5-StringTips.jpeg);
}

.uku-bckg {
  background-image: url(https://images.pexels.com/photos/346709/pexels-photo-346709.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}


@media (max-width: 768px){
  .photo-mre-lssn{
    height: 200px;
  }
}

.get-started {
  background-image: url('https://c0.wallpaperflare.com/preview/541/913/242/cellphone-close-up-female-girl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 150px 0;
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  overflow: hidden;
}

.gt-started-lft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  width: 50%;
}

h6 {
  font-size: 2.2rem;
}

.gt-started-rght {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.gt-started-rght img {
  width: 420px;
  
}

.market-container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.markets-logo {
  width: 138px;
  height: 45px;
  margin-right: 10px;
}

@media (max-width: 916px){
  .get-started{
    padding: 90px 0;
    flex-direction: column;
    gap: 50px 0;
  }
.left-txt-cont{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.red-line {
  width: 100%;
}
.gt-started-rght, 
.gt-started-lft {
width: 100%;
  }

}

footer {
  overflow: hidden;
  background: rgb(34, 34, 34);
}

.footer-wrapper {
  padding: 80px 40px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "head-logo head-form"
    ". links";
  grid-gap: 15px 5px;
  color: #fff;
}

#fender-logo-footer {
  grid-area: head-logo;
  width: auto;
  height: 58px;
  filter: invert(1);
  justify-self: end;
  margin-right: 3rem;
  position: relative;
  top: 0px;
}
.footer-text-and-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: head-form;
  font-size: 1.5rem;
position: relative;
padding-bottom: 40px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.footer-title {
 
}
.p-footer {

  font-size: 0.9rem;
  font-weight: 400;
}

.input {
  position: relative;
  border-style: solid;
  border-color: grey;
  padding: 8px;
  width: 85%;
}

#form {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  width: 100%;
}


#email {
  padding: 0.5rem;
  border-style: none;
  color: grey;
  background: transparent;
width: 100%;
transition: all .3s ease;
}

#email:focus {
  color: black;
  background: #fff;
}

input[type="submit"] {

  padding: 0.55rem 2rem;
  background: rgb(165, 14, 26);
  color: white;
  border-style: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

.footer-links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: start;
  row-gap: 30px;
  margin-top: 10px;
}

.grey-line {
  height: 1px;
  width: 12%;
  background: grey;
  position: absolute;
}

.footer-link-header {
  font-weight: 600;
  margin-top: 19px;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px;
  width: 50%;
  flex-basis: calc(100% / 5);
  height: fit-content;
}

.links-container a {
  margin-top: 19px;
}

.links-animation {
  text-decoration: none;
  color: grey;
  transition: all 0.5s ease;
}

.links-animation:hover {
  color: white;
}

.copy-legals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 0.9rem;

  padding-left: 20px;
  padding-right: 20px;
  height: 130px;
  color: grey;
  overflow: hidden;
}

.grey-line-legal {
  height: 1px;
  width: 100%;
  background: grey;
  position: absolute;
  left: 0px;
  display: flex;
}

.copyright {
  margin-top: 20px;
}

.legals {
  margin-top: 20px;
}

.legals a {
  margin-right: 15px;
  text-decoration: none;
  color: grey;
}

@media (max-width: 916px){
  .links-container {
    flex-basis: calc(100% / 3);
  }

  .footer-text-and-form{
    flex-direction: column;
padding-bottom: 20px;
  }
  .footer-text{
    width: 100%;
  }
  .input{
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 768px){
  .footer-wrapper {
    padding: 80px 40px;
    grid-template-columns: 1 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "head-logo"
      "head-form"
      "links";
    grid-gap: 15px 5px;
    color: #fff;
  }
  .links-container {
    flex-basis: calc(100% / 2);
  }
}

/* */


@media (max-width: 960px) {
.skills{
  flex-direction: column;
  padding: 90px 60px;
}
.cards{
  min-height: 360px;
}
.skills-left {
  justify-content: center;
  align-items: center;
  width: 100%;

}

.header-skills {
  text-align: justify;
  font-size: 2.2rem;
  margin: 0px;
}

.skills-info {
  text-align: justify;
}

.sticky-skills {
}

.skills-right {
  padding-top: 90px;
  height: fit-content;
  width: 100%;
}

}

@media (max-width: 768px) {
  .skills{
    padding: 50px 17px;
  }
.cards{
  min-height: 390px;
}
.skills-left{
  padding: 0;
}
  .skills-right {
    height: fit-content;
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .card-1{ grid-area: 1 / 1 / 2 / 2; }
  .card-2 { grid-area: 1 / 2 / 2 / 3; }
  .card-3 { grid-area: 2 / 1 / 3 / 2; }
  .card-4 { grid-area: 2 / 2 / 3 / 3; }
  .card-5 { grid-area: 3 / 1 / 4 / 2; }
  .card-6 { grid-area: 3 / 2 / 4 / 3; }
  
}


@media (max-width: 610px){
  .hero-section{
padding: 70px 0;
  }

#fender-logo-hero{
  width: auto;
  height: 80px;
}
.hero-section h1{
  font-size: 30px;
}
#how-it-works{
  flex-direction: column;
  height: fit-content;
}
.how-it{
  font-size: 28px;
  margin: 0;
}
.video-container{
  width: 60%;
  margin: 20px 0;
}

.title-section{
  font-size: 30px;
}

.subtitle{
  font-size: 15px;
}
.lessons{
font-size: 30px;
}

}